*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

/*--- HeroSection ---*/
section{
    position: relative;
    width: 100%;
    height: auto;
}
.contentImg{
    display: flex;
    justify-content: end;
    flex-direction: row;
    /* align-items: center; */
    position: relative;
    background-image: url(https://www.netacad.com/p/ff9e491c-49be-4734-803e-a79e6e83dab1/6faaee56-47cf-4118-8474-a4b3a5e190fb/image.png?ut=1740796284765);
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-text{
    margin-top: 100px;
    position: relative;
    margin: 20px;
    color: rgb(0, 0, 0);
    width: 30%;
    height: 50%;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */
    background-color: white;
    border-radius: 12px;
}

.content-text > h1{
    padding: 10px;
    /* text-shadow: 5px 5px 5px black; */
}

.content-text > h2 {
    margin: 20px;
    /* text-shadow: 5px 5px 5px black; */
}

.container2{
    width: 100%;
    background-color: white;
    height: 100%;
}